<section class="page">
	<div class="container text-left">
		<div class="row">
			<div class="small-12 columns">
				<h1 class="page-title sub">About me</h1>
				<h5 class="page-mini-title vertical-bump">Skills and beliefs</h5>
			</div>
		</div>
		<div class="row vertical-bump">
			<div class="medium-6 columns">
				<h4>Passionate about products</h4>
				<p class="lite">Building really great things is very rewarding. It takes hard work and vision to build something that is truly awesome, I enjoy being a part of that process.</p>
			</div>
			<div class="medium-6 columns">
				<h4>Programming with people is awesome</h4>
				<p class="lite">I have learned most of my programming knowledge from really smart people. I am a fan of the pair-programming practice to teach and learn new concepts.</p>
			</div>
		</div>
		<div class="row vertical-bump">
			<div class="medium-6 columns">
				<h4>I <i class="fa fa-heart"></i> to learn</h4>
				<p class="lite">Keeping up with the latest technologies keeps things fresh and is a welcomed part of being a developer. Learning new things makes my brain happy.</p>
			</div>
			<div class="medium-6 columns">
				<h4>Test, rinse, repeat</h4>
				<p class="lite">I believe in TDD. Starting with tests tends to improve code design, and allows for an iterative approach to a solution.</p>
			</div>
		</div>
	</div>
</section>
