<section class="page">
	<div class="container text-left contact-form">
		<div class="row">
			<div class="small-6 columns">
				<h1 class="page-title sub">Contact</h1>
			</div>

		</div>
		<div class="row">
			<div class="medium-12 columns">
				<h5 class="page-mini-title vertical-bump">Contact me through the interwebs</h5>
			</div>
		</div>
		<div class="row">
			<div class="medium-12 columns vertical-bump">
				<h2>
					<a href="https://github.com/akornmeier"><i class="fa fa-social fa-github"></i></a>
					<a href="https://twitter.com/akornmeier"><i class="fa fa-social fa-twitter"></i></a>
					<a href="https://www.linkedin.com/in/tonykornmeier"><i class="fa fa-social fa-linkedin"></i></a>
				</h2>
				<h1>tony(at)kornmeier(dot)me</h1>
			</div>
		</div>
	</div>
</section>
