<section class="page">
	<div class="container text-left">
		<div class="row">
			<div class="small-12 columns">
				<h1 class="page-title sub">Employment</h1>
				<h5 class="page-mini-title vertical-bump">Work experience</h5>
			</div>
		</div>
		<div class="row vertical-bump">
			<div class="small-12 columns">
				<h4>Development Team Lead for The Leadership Circle</h4>
				<p class="lite">September 2009 to Present - Remote Job (Salt Lake City, UT)</p>
				<p class="lighter">I lead a small team of developers. We design, develop, and maintain our suite of leadership development products. The apps have global reach and are available in 5 different languages. Data collection and reporting is a big part of our business.</p>
			</div>
		</div>
		<div class="row vertical-bump">
			<div class="small-12 columns">
				<h4>Software Engineer for Computol</h4>
				<p class="lite">2006 to September 2009 - Perrysburg, Ohio</p>
				<p class="lighter">Developed a wide array of e-commerce client applications. Involved with requirements gathering, estimating, and project planning.</p>
			</div>
		</div>
		<div class="row vertical-bump">
			<div class="small-12 columns">
				<h4>Interactive Survey Programmer for TNS Global</h4>
				<p class="lite">2004 to 2006 - Oregon, Ohio</p>
				<p class="lighter">Part of the interactive production team, tasked with delivering a high volume of online market research surveys. It was my first job after college that was fast paced and I learned a lot being in that environment.</p>
			</div>
		</div>
	</div>
</section>
